@import url('https://fonts.googleapis.com/css?family=Dancing+Script&display=swap');

.custom-button-login {
  border-radius: 10px;
  width: 100px;
}

.card-custom-login {
  box-shadow: 2px 2px 20px 2px black;
  border-radius: 10px;
}

.custom-title {
  font-family: 'Dancing Script', cursive;
  font-size: 50px;
}

.custom-font-dancing {
  font-family: 'Dancing Script', cursive;
}

.custom-card-body {
  border-radius: 100px;
}